* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    overflow: hidden;
    background: #B0C4DE;
}
section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
section .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.show .profile {
    display: none;
}
section .profile .profile-img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    background: #4070f4;
    padding: 0.1875rem;
    margin-bottom: 0.625rem; 
}
section .profile .profile-img img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    border-radius: 50%;
    border: 2px solid #fff; 
}
.profile .name, .profile .profession {
    font-size: 1.125rem;
    font-weight: 500;
    color: #333;
}
.profile .profession {
    font-weight: 400;
    margin-top: -1px; 
}
.profile .button {
    background-color: #4070f4;
    padding: 0.75rem 1.25rem;
    border-radius: 0.3125rem;
    margin-top: 0.9375rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.profile .button:hover {
    background: #275df1; 
}
.profile .button i {
    color: #fff;
    font-size: 1.125rem;
    margin-right: 0.3125rem;
}
.profile .button button {
    background: none;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
}

section .popup-outer {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none; 
    box-shadow: 0 0.625rem 0.9375rem rgba(0, 0, 0, 0.1);
    transform: scale(1.2);
    transition: opacity 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
}
section.show .popup-outer {
    opacity: 1;
    pointer-events: auto; 
    transform: scale(1);
}
section .popup-box {
    background-color: #87CEFA;
    border-radius: 0.75rem;
    padding: 1.875rem;
    max-width: 23.75rem;
    width: 100%;
    position: relative;
}
section .popup-box .close {
    font-size: 1.25rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #4682B4;
    cursor: pointer;
    transition: all 0.2s ease;
}
section .popup-box .close:hover {
    color: #333;
}
section .popup-box .profile-text {
    display: flex;
    align-items: center;
}
section .popup-box img {
    width: 3.75rem;
    height: 3.75rem; 
    /* object-fit: cover; */
    border-radius: 50%;
}
.profile-text .text {
    display: flex;
    flex-direction: column;
    margin-left: 0.9375rem;
}
.profile-text .text .name {
    font-size: 0.875rem;
    font-weight: 500;
}
.profile-text .text .profession {
    font-size: 0.75rem;
    font-weight: 500;
}
section .popup-box textarea {
    min-height: 9.375rem;
    width: 100%;
    margin-top: 1.25rem;
    outline: none;
    border: none;
    padding: 0.75rem;
    border-radius: 0.375rem;
    resize: none;
    font-size: 1rem;
    font-weight: 500;
    background-color: #f3f3f3;
}
section .popup-box form .button {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.9375rem;
}
section .popup-box form .button button {
    margin-left: 0.5rem;
    background-color: #3d6ef5;
    outline: none;
    border: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    color: #fff;
    font-size: 0.875rem; 
    cursor: pointer;
    transition: all 0.3s ease;
}
section .popup-box form .button .cancel {
    background-color: #f65257fa;
}
section .popup-box form .button .cancel:hover {
    background-color: #f0141be4;
}
section .popup-box form .button .send:hover {
    background-color: #104cf1e5;
}

/* media query */
@media screen and (max-width: 400px) {
    section .popup-box {
        margin: 0 1.25rem;
    }
}